#gallery {
    padding-top: 0px;
}

#gallery2 {
    padding-top: 0px;
}

#gallery3 {
    padding-top: 0px;
}

@media screen and (min-width: 991px) {
    #gallery {
        padding: 0px 30px 0 30px;
    }

    #gallery2 {
        padding: 0px 30px 0 30px;
    }

    #gallery3 {
        padding: 0px 30px 0 30px;
    }
}

.img-wrapper {
    position: relative;
    margin-top: 15px;
}

.img-wrapper2 {
    position: relative;
    margin-top: 15px;
}

.img-wrapper3 {
    position: relative;
    margin-top: 15px;
}

.img-wrapper img {
    width: 100%;
}

.img-wrapper2 img {
    width: 100%;
}

.img-wrapper3 img {
    width: 100%;
}

.img-overlay {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.img-overlay2 {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.img-overlay3 {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.img-overlay i {
    color: #fff;
    font-size: 3em;
}

.img-overlay2 i {
    color: #fff;
    font-size: 3em;
}

.img-overlay3 i {
    color: #fff;
    font-size: 3em;
}

#overlay {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#overlay2 {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#overlay3 {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#overlay img {
    margin: 0;
    width: 80%;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
    padding: 5%;
}

#overlay2 img {
    margin: 0;
    width: 80%;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
    padding: 5%;
}

#overlay3 img {
    margin: 0;
    width: 80%;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
    padding: 5%;
}
@media screen and (min-width: 768px) {
    #overlay img {
        width: 60%;
    }

    #overlay2 img {
        width: 60%;
    }

    #overlay3 img {
        width: 60%;
    }
}
@media screen and (min-width: 1200px) {
    #overlay img {
        width: 50%;
    }

    #overlay2 img {
        width: 50%;
    }

    #overlay3 img {
        width: 50%;
    }
}

#nextButton {
    color: #fff;
    font-size: 2em;
    transition: opacity 0.8s;
}

#nextButton2 {
    color: #fff;
    font-size: 2em;
    transition: opacity 0.8s;
}

#nextButton3 {
    color: #fff;
    font-size: 2em;
    transition: opacity 0.8s;
}

#nextButton:hover {
    opacity: 0.7;
}

#nextButton2:hover {
    opacity: 0.7;
}

#nextButton3:hover {
    opacity: 0.7;
}

@media screen and (min-width: 768px) {
    #nextButton {
        font-size: 3em;
    }

    #nextButton2 {
        font-size: 3em;
    }

    #nextButton3 {
        font-size: 3em;
    }
}

#prevButton {
    color: #fff;
    font-size: 2em;
    transition: opacity 0.8s;
}

#prevButton2 {
    color: #fff;
    font-size: 2em;
    transition: opacity 0.8s;
}

#prevButton3 {
    color: #fff;
    font-size: 2em;
    transition: opacity 0.8s;
}

#prevButton:hover {
    opacity: 0.7;
}

#prevButton2:hover {
    opacity: 0.7;
}

#prevButton3:hover {
    opacity: 0.7;
}

@media screen and (min-width: 768px) {
    #prevButton {
        font-size: 3em;
    }

    #prevButton2 {
        font-size: 3em;
    }

    #prevButton3 {
        font-size: 3em;
    }
}

#exitButton {
    color: #fff;
    font-size: 2em;
    transition: opacity 0.8s;
    position: absolute;
    top: 15px;
    right: 15px;
}

#exitButton2 {
    color: #fff;
    font-size: 2em;
    transition: opacity 0.8s;
    position: absolute;
    top: 15px;
    right: 15px;
}

#exitButton3 {
    color: #fff;
    font-size: 2em;
    transition: opacity 0.8s;
    position: absolute;
    top: 15px;
    right: 15px;
}

#exitButton:hover {
    opacity: 0.7;
}

#exitButton2:hover {
    opacity: 0.7;
}

#exitButton3:hover {
    opacity: 0.7;
}
@media screen and (min-width: 768px) {
    #exitButton {
        font-size: 3em;
    }

    #exitButton2 {
        font-size: 3em;
    }

    #exitButton3 {
        font-size: 3em;
    }
}
